{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Pragati Foundation</title>
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/icons/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/icons/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/icons/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'images/icons/site.webmanifest' %}">

        <!-- CSS FILES -->        
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">

        <link href="{% static 'css/templatemo-kind-heart-charity.css' %}" rel="stylesheet">

        
<!--

TemplateMo 581 Kind Heart Charity

https://templatemo.com/tm-581-kind-heart-charity

-->

<style>
    /* Fixed height and width for the image */
.fixed-image {
    height: 250px;  /* Set a fixed height for the image */
    width: 100%;    /* Ensures it fills the card width */
    object-fit: contain; /* Ensures the image maintains aspect ratio without distortion */
}

/* Fixed size for the card */
.fixed-card {
    height: 300px;  /* Fixed card height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Only the cause detail is scrollable */
.scrollable {
    max-height: 100px;  /* Set a max-height for the scrollable content */
    overflow-y: auto;  /* Enable scrolling if content exceeds */
    padding-right: 10px;
}

/* Optional: Customize scroll bar for a cleaner look */
.scrollable::-webkit-scrollbar {
    width: 6px;
}

.scrollable::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.scrollable::-webkit-scrollbar-thumb {
    background: #888;
}

.scrollable::-webkit-scrollbar-thumb:hover {
    background: #555;
}

</style>

    </head>
    
    <body id="section_1">

        
        <nav class="navbar navbar-expand-lg bg-light shadow-lg">
            <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="{% static 'images/logo.png'  %}" class="logo img-fluid" alt="Pragati Foundation">
                    <span>
                        Pragati Foundation
                        <small>Non-profit Organization</small>
                    </span>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %} click-scroll" href="#">Home</a>
                        </li>
                
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == 'about' %}active{% endif %}" href="{% url 'about' %}">About</a>
                        </li>
                
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == 'gallery' %}active{% endif %} click-scroll" href="{% url 'gallery' %}">Beneficiary</a>
                        </li>
                
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == 'donates' %}active{% endif %} click-scroll" href="{% url 'donates' %}">Donate</a>
                        </li>
                
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == 'history' %}active{% endif %} click-scroll" href="{% url 'history' %}">History</a>
                        </li>
                
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == 'contactus' %}active{% endif %} click-scroll" href="{% url 'contactus' %}">Contact</a>
                        </li>
                
                        <li class="nav-item ms-1">
                            <a class="nav-link custom-btn custom-border-btn btn" href="{% url 'contactus' %}">Volunteer</a>
                        </li>
                
                        <li class="nav-item ms-1 d-none d-lg-block">
                            <a class="nav-link custom-btn custom-border-btn btn" href="{% url 'login' %}">Login</a>
                        </li>

                        <li class="nav-item ms-1">
                            <a class="nav-link custom-btn custom-border-btn btn" href="{% url 'add_person' %}">Register</a>
                        </li>
                    </ul>
                </div>
                
                
            </div>
        </nav>

        <main>

            <section class="hero-section hero-section-full-height">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-lg-12 col-12 p-0">
                            <div id="hero-slide" class="carousel carousel-fade slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active ">
                                        <img src="{% static 'images/slide/ngo1.png'%} " class="carousel-image img-fluid" alt="...">
                                        
                                        <div class="carousel-caption d-flex flex-column justify-content-end">
                                            <h1>Serving</h1>
                                            
                                            <p>For the Humanity</p>
                                        </div>
                                    </div>

                                     <!-- <div class="carousel-item">
                                        <img src="{% static 'images/slide/head2.png '%}" class="carousel-image img-fluid" alt="...">
                                        
                                        <div class="carousel-caption d-flex flex-column justify-content-end">
                                            <h1>Non-profit</h1>
                                            
                                            <p>You can support us to grow more</p>
                                        </div>
                                    </div>  -->

                                     <!-- <div class="carousel-item">
                                        <img src="{% static 'images/slide/medium-shot-people-collecting-donations.jpg '%}" class="carousel-image img-fluid" alt="...">
                                        
                                        <div class="carousel-caption d-flex flex-column justify-content-end">
                                            <h1>Humanity</h1>
                                            
                                            <p>Please tell your friends about our website</p>
                                        </div>
                                    </div>  -->
                                </div>

                                 <!-- <button class="carousel-control-prev" type="button" data-bs-target="#hero-slide" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>

                                <button class="carousel-control-next" type="button" data-bs-target="#hero-slide" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button> -->
                            </div>
                        </div>

                    </div>
                </div>
            </section>



            <section class="section-padding section-bg">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-10 col-12 text-center mx-auto">
                            <h2 class="mb-5">Welcome to Pragati Foundation</h2>
                        </div>

                        <div class="col-lg-6 " style="height: 700px;">
                            <img src="{% static 'images/who.png'%}" class="custom-text-box-image img-fluid" alt="">
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="custom-text-box">
                                <h2 class="mb-2">Who we are</h2>

                                

                                <p class="mb-0">The Pragati Foundation is dedicated to improving the lives of disabled individuals by providing essential mobility aids like prosthetic legs, walking sticks, and wheelchairs. In partnership with the government, the foundation also helps organize small stalls where disabled individuals can sell goods and earn a livelihood. Through these efforts, Pragati empowers people with disabilities to lead independent, dignified lives.</p>
                            </div>
                            
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="custom-text-box mb-lg-0">
                                        <h5 class="mb-3">Our Mission</h5>

                                        <p>The Pragati Foundation is dedicated to enhancing the lives of children and individuals with disabilities through .</p>

                                        <ul class="custom-list mt-2">
                                            <li class="custom-list-item d-flex">
                                                <i class="bi-check custom-text-box-icon me-2"></i>
                                                Comprehensive Support 
                                            </li>

                                            <li class="custom-list-item d-flex">
                                                <i class="bi-check custom-text-box-icon me-2"></i>
                                                 Innovative Programs
                                            </li>

                                            <li class="custom-list-item d-flex">
                                                <i class="bi-check custom-text-box-icon me-2"></i>
                                                Community Engagement
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="custom-text-box d-flex flex-wrap d-lg-block mb-lg-0">
                                        <div class="counter-thumb"> 
                                            <span class="counter-text">Served Over</span>
                                            <div class="d-flex">
                                                <span class="counter-number" data-from="1" data-to="1" data-speed="1000"></span>
                                                <span class="counter-number-text">k</span>
                                                
                                            </div>

                                            <span class="counter-text">Disableds and Children</span>
                                        </div> 

                                        <div class="counter-thumb mt-4"> 
                                            <div class="d-flex">
                                                <span class="counter-number" data-from="1" data-to="50" data-speed="1000"></span>
                                                <span class="counter-number-text">+</span>
                                            </div>

                                            <span class="counter-text">Volunteers</span>
                                        </div> 

                                        <div class="counter-thumb mt-4"> 
                                            <div class="d-flex">
                                                <span class="counter-number" data-from="1" data-to="5" data-speed="1000"></span>
                                                <span class="counter-number-text">L</span>
                                                <span class="counter-number-text">+</span>
                                            </div>

                                            <span class="counter-text">Donations Received</span>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>


            <section class="section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-10 col-12 text-center mx-auto">
                            <h2 class="mb-5">Help Individuals to Grow</h2>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                            <div class="featured-block d-flex justify-content-center align-items-center">
                                <a class="d-block">
                                    <img src="{% static 'images/icons/hands.png' %}" class="featured-block-image img-fluid" alt="">

                                    <p class="featured-block-text">Become a <strong>volunteer</strong></p>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                            <div class="featured-block d-flex justify-content-center align-items-center">
                                <a class="d-block">
                                    <img src="{% static 'images/icons/heart.png' %}" class="featured-block-image img-fluid" alt="">

                                    <p class="featured-block-text"><strong>Caring</strong> Earth</p>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                            <div class="featured-block d-flex justify-content-center align-items-center">
                                <a class="d-block">
                                    <img src="{% static 'images/icons/receive.png'%}" class="featured-block-image img-fluid" alt="">

                                    <p class="featured-block-text">Make a <strong>Donation</strong></p>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                            <div class="featured-block d-flex justify-content-center align-items-center">
                                <a class="d-block">
                                    <img src="{% static 'images/icons/scholarship.png'%}" class="featured-block-image img-fluid" alt="">

                                    <p class="featured-block-text"><strong>Scholarship</strong> Program</p>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            


            <section class="cta-section section-padding section-bg">
                <div class="container">
                    <div class="row justify-content-center align-items-center">

                        <div class="col-lg-5 col-12 ms-auto">
                            <h2 class="mb-0">Make an impact. <br> Save lives.</h2>
                        </div>

                        <div class="col-lg-5 col-12">
                            <a href="{%url 'donates' %}" class="me-4">Make a donation</a>

                            <a href="{% url 'contactus' %}" class="custom-btn btn smoothscroll">Become a volunteer</a>
                        </div>

                    </div>
                </div>
            </section>


            <!-- index.html -->
<section class="section-padding" id="">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 text-center mb-4">
                <h2>Be a Part of Someone's Life</h2>
            </div>

            {% for cause in causes %}
            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block-wrap">
                    <img src="{{cause.img.url}}" class="custom-block-image img-fluid fixed-image" alt="">

                    <div class="custom-block fixed-card">
                        <div class="custom-block-body">
                            <h5 class="mb-3">{{cause.name}}</h5>

                            <div class="scrollable">
                                <p>{{cause.detail}}</p>
                            </div>

                            <div class="d-flex custom-block my-2">
                                <p class="mb-0">
                                    <strong>Raised:</strong> ₹ {{cause.raised}}
                                </p>

                                <p class="ms-auto mb-0">
                                    <strong>Goal:</strong> ₹ {{cause.goal}}
                                </p>
                            </div>

                        </div>

                        <a href="{% url 'donates' %}" class="custom-btn btn">Donate now</a>
                    </div>
                </div>
            </div>
            {% endfor %}

            <!-- View More Button -->
            <div class="col-lg-12 col-12 text-center mt-4">
                <a href="{% url 'donates' %}" class="custom-btn btn btn-primary">View More</a>
            </div>

        </div>
    </div>
</section>

            

            <section class="contact-section section-padding" id="">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-4 col-12 ms-auto mb-5 mb-lg-0">
                            <div class="contact-info-wrap">
                                <h2>Get in touch</h2>

                                <div class="contact-image-wrap d-flex flex-wrap">
                                    <img src="{% static 'images/vc.png'%}" class="img-fluid avatar-image" alt="">

                                    <div class="d-flex flex-column justify-content-center ms-3">
                                        <p class="mb-0">Vikram Chavan</p>
                                        <p class="mb-0"><strong>Founder & President</strong></p>
                                    </div>
                                </div>

                                <div class="contact-info">
                                    <h5 class="mb-3">Contact Infomation</h5>

                                    <p class="d-flex mb-2">
                                        <i class="bi-geo-alt me-2"></i>
                                        BJP Karyalay, Vasant Vihar Mhada Office Thane West 400610
                                    </p>

                                    <p class="d-flex mb-2">
                                        <i class="bi-telephone me-2"></i>

                                        <a href="tel: 9167910915">
                                            9167910915
                                        </a>
                                    </p>

                                    <p class="d-flex">
                                        <i class="bi-envelope me-2"></i>

                                        <a href="mailto:info@yourgmail.com">
                                            enquiry@pragati-foundation.com
                                        </a>
                                    </p>

                                    <!-- <a href="#" class="custom-btn btn mt-3">Get Direction</a> -->
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 col-12 mx-auto">
                            <!-- Use Django messages -->
                            {% if messages %}
                                <div class="message-success" style="display:none;">
                                    {% for message in messages %}
                                        {{ message }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            
                            <form class="custom-form contact-form" action="/contact" method="post" role="form">
                                {% csrf_token %}
                                <h2>Contact form</h2>
                        
                                <p class="mb-4">Or, you can just send an email:
                                    <a href="#">info@charity.org</a>
                                </p>
                        
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <input type="text" name="f_name" id="first-name" class="form-control" placeholder="Your Name" required>
                                    </div>
                        
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <input type="text" name="l_name" id="last-name" class="form-control" placeholder="Last Name" required>
                                    </div>
                                </div>
                        
                                <input type="email" name="email" id="email" class="form-control" placeholder="Enter Your Email" required>
                        
                                <textarea name="message" rows="5" class="form-control" id="message" placeholder="What can we help you?"></textarea>
                        
                                <input type="submit" class="form-control" value="Send Message" style="background: #5a6f80; color: white;">
                            </form>
                        </div>

                        
                        <script>
                            // Check if the message-success div exists and contains text
                            var successMessage = document.querySelector('.message-success');
                        
                            if (successMessage && successMessage.textContent.trim() !== "") {
                                // Show a popup message
                                alert(successMessage.textContent.trim());
                            }
                        </script>
                        
                        

                    </div>
                </div>
            </section>
        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-12 mb-4" style="width: 100px;">
                        <img src="{% static 'images/logo.png' %}" class="logo img-fluid" alt="">
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mb-4">
                        <h5 class="site-footer-title mb-3">Quick Links</h5>

                        <ul class="footer-menu">
                            <li class="footer-menu-item"><a href="{% url 'index' %}" class="footer-menu-link">Home</a></li>

                            <li class="footer-menu-item"><a href="{% url 'gallery' %}" class="footer-menu-link">Beneficiary</a></li>

                            <li class="footer-menu-item"><a href="{% url 'about' %}" class="footer-menu-link">About</a></li>

                            <li class="footer-menu-item"><a href="{% url 'contactus' %}" class="footer-menu-link">Become a volunteer</a></li>

                            <li class="footer-menu-item"><a href="{% url 'donates' %}" class="footer-menu-link">Partner with us</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mx-auto">
                        <h5 class="site-footer-title mb-3">Contact Infomation</h5>

                        <p class="text-white d-flex mb-2">
                            <i class="bi-telephone me-2"></i>

                            <a href="tel: 9167910915" class="site-footer-link">
                                9167910915
                            </a>
                        </p>

                        <p class="text-white d-flex">
                            <i class="bi-envelope me-2"></i>

                            <a href="mailto:info@yourgmail.com" class="site-footer-link">
                                enquiry@pragati-foundation.com
                            </a>
                        </p>

                        <p class="text-white d-flex mt-3">
                            <i class="bi-geo-alt me-2"></i>
                            BJP Karyalay, Vasant Vihar Mhada Office Thane West 400610
                        </p>

                        <!-- <a href="#" class="custom-btn btn mt-3">Get Direction</a> -->
                    </div>
                </div>
            </div>

            <div class="site-footer-bottom">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-7 col-12">
                            <p class="copyright-text mb-0">Copyright © 2024 Pragati Foundation.
                        	</a></p>
                        </div>
                        
                        <div class="col-lg-2 col-md-5 col-12 d-flex justify-content-end mx-auto">
                            <ul class="social-icon">
                                <!-- <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-twitter"></a>
                                </li> -->

                                <li class="social-icon-item">
                                    <a href="https://www.facebook.com/foundation.pragati" target="_blank" class="social-icon-link bi-facebook"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="https://www.instagram.com/pra.gatifoundation?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank" class="social-icon-link bi-instagram"></a>
                                </li>

                                <!-- <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-linkedin"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-youtube"></a>
                                </li> -->
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
        </footer>

        <!-- JAVASCRIPT FILES -->
        <script src="{% static 'js/jquery.min.js'%}"></script>
        <script src="{% static 'js/bootstrap.min.js'%}"></script>
        <script src="{% static 'js/jquery.sticky.js'%}"></script>
        <script src="{% static 'js/click-scroll.js'%}"></script>
        <script src="{% static 'js/counter.js'%}"></script>
        <script src="{% static 'js/custom.js'%}"></script>

    </body>
</html>